.mainCard {
    height: 299px;
    color: #000;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin: 10px auto;
    z-index: 1;
    border: 2px #fff solid;
}
.mainCard .image_card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mainCard .image_card img {
    width: 100%;
    height: auto;
}

.mainCard .content_card {
    padding: 4px;
    background-color: #fff;
    color: var(--thirdColor);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40%;
    transform: translateY(0);
    justify-content: end;
    align-items: center;
    z-index: 300;
}
.mainCard .content_card span,
.mainCard .content_card h6 {
    text-transform: capitalize;
    padding-top: 10px;
    padding-left: 5px;
    font-weight: 600;
}
.mainCard .btn-addCart {
    position: absolute;
    top: 15px;
    right: -40px;
    width: 40px;
    height: 50px;
    background-color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    z-index: 400;
}

.mainCard .btn-details {
    position: absolute;
    top: 120px;
    right: 25px;
    background-color: rgb(255 251 251);
    z-index: 400;
    visibility: hidden;
    border-radius: 10px;
    text-transform: uppercase;
}

.mainCard .btn-details a {
    color: var(--mainColor);
    text-decoration: none;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.75);
}

.mainCard:hover .content_card {
    transform: translateY(105%);
    transition: all 0.3s;
}
.mainCard:hover .overlay {
    transform: translateY(0);
}
.mainCard:hover .btn-addCart {
    right: 0;
    transition: all 0.3s;
}
.mainCard:hover .btn-details {
    visibility: visible;
    transition: all 0.3s;
}

@media (max-width: 572.5px) {
    .mainCard {
        width: 48%;
    }
}

@media (min-width: 573px) and (max-width: 762.5px) {
    .mainCard {
        width: 32%;
    }
}

@media (min-width: 763px) and (max-width: 992.5px) {
    .mainCard {
        width: 22%;
    }
}

@media (min-width: 993px) {
    .mainCard {
        width: 18%;
    }
}
